/*

Some basic styling stuff

*/

#loginForm {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.postscript {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 1em;
}

.form-logo {
	padding: 2em;
}

body{

	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 0.84em;
	background-color: #fff;
	color: #000;
	padding: 60px 10px 0px 10px;
	font-weight: 300;
	margin: 0px;
}

h1, a.go_button
{
text-align: center;
font-size: 1.5em;
}

div.content h1
{
padding: 10px 50px;
}

.ie-label
{
	font-weight: bold;
	margin: 0.5em 0;
}

/* link styling */

a, a:link, a:visited, a:focus, a:hover, a:active
{
	text-decoration: none;
}
a, a:link, a:visited 
{
	color: #3277AE;  
}

.postscript a:hover, .postscript a:focus,
a:hover, a:focus,
a.form-help:hover, a.form-help:focus
{
	color: #0496fc;
}

/* remove underline from link on the login anfd confirm pages only */
#confirmPage a, #loginPage a 
{
	text-decoration: none;
}

p
{
	line-height: 1.3em;
}

/* avoid annoying borders on linked images*/
a img
{
	border: none;
}
/* a class style for highlighting  names in your text*/ 
span.name
{
	font-weight: bold;
}

div.content {
    position: relative; 
}

.content ul {
	padding-left: 40px;    
}

li
{
	padding: 0.5em;
	line-height: 1em;
}

/* branding and layout stuff */
#site-info
{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 60px;
}

input {
    border: 1px solid #ccc;
}
 
div#confirmBox 
{
	text-align: center;
}

a.button, a.go_button, input.go-go-go, input[type="submit"]
{
	width: 220px;
	border: 1px solid #79550d;
	border-radius: 3px ;
	-webkit-border-radius: 3px ;
	-moz-border-radius: 3px ;
	color: #fff;
	display: block;
	font-size: 1.2em;
	font-weight: bold;

	margin: 0.5em auto;
	padding: 10px;

	text-decoration: none;

	-moz-box-shadow: 0px 0px 2px 2px #eee;
	-webkit-box-shadow: 0px 0px 2px 2px #eee;
	box-shadow: 0px 0px 2px 2px #eee;

	background-color: #3277AE;
}

a.button:hover, a.go_button:hover, input.go-go-go:hover, input[type="submit"]:hover
{
	background-color: #2A6290;
}

span.help a:link, span.help a:visited, span.help a:active,
a.go_button:link, a.go_button:active, a.go_button:visited,
a.button:link, a.button:active, a.button:visited,
input.go-go-go
{
color: #fff;
}

a.go_button, a.cancel {
	margin: 1.5em auto;
	line-height: 1.2em;
}

a.go_button span.continue-to{
	background: url('../images/small-white-tick.png') no-repeat 0px 3px;
	padding-left: 20px;  
}

a.cancel {
    clear: both;
    font-size: 1em;
    margin-top: 20px;
}

/* colour for emphasized text, strong, error messages, etc...*/
ul.failures li
{
	color: #ff0000;
	list-style: none;
}   

/* general form styling stuff */

form
{
	background-color:#f4f4f4;
	border: 1px solid #ddd;

	box-shadow: 0px 0px 10px 6px #f0f0f0;
	margin: 0 auto;
}

#confirmBox 
{
	background-color:#f4f4f4;
	border: 1px solid #ddd;
	padding: 0.2em;
	width: 300px;
	box-shadow: 0px 0px 10px 6px #f0f0f0;
	margin: 0 auto;
}

form div
{
	padding: 0.4em;
}

label
{
	color: #666;
	clear: both;
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 0.5em 0;
}

.form-help, a.form-help, .postscript a {
       color: #777; 
}


div#errorBox, div#error, div#remuserError, div#failures
{
	margin: 10px;
	border: 1px solid #ddd;
	background: url("../images/cross.png") no-repeat 10px 5px ;
	padding-left: 55px;
	padding-bottom: 10px;
}

div#errorBox ul , div#error ul , div#remuserError ul
{
padding-left: 0px;
}
div#errorBox ul ul , div#error ul ul , div#remuserError ul ul
{
padding-left: 1em;
}

div#logoutBox dl dd
{
margin-top: 0.5em;
margin-bottom: 1.2em;
margin-left: 0px;
}
div#errorBox {
        font-weight: bold;
}

/* hide anything that's for non-visual exposition */

.nonvis-exposition
{
position: absolute;
top: -1600px;
}
/* Allow spans to have the option of not wrapping (without littering &nbsp; everywhere)*/

span.nowrap {
white-space: nowrap;
}
