/*

handheld-specific styles for University of Oxford Webauth pages

*/

/* restyle the layout a little to take account of the smaller header */

body
{
}

div.content
{
margin: 0 0 0 0 ;
}

div.content h1
{
        font-family: Helvetica, Verdana;
        font-size: 20pt;
        font-weight: 300;

        padding: 10px 0 ;
        margin: 0px;
        margin-bottom: 1em;

        color: #222;
}


h1, h2, h3, h4, h5, h6
{
letter-spacing: 0em;
}

div.content div, div.content h2, div.content h3, div.content p
{
	padding-left: 1px;
	padding-right: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


div#confirmBox 
{
text-align: left;
}

div#confirmBox table
{
padding: 1px;
background-image: none;
}


div#confirmBox table th
{
padding-left: 1px;
padding-right: 2px;
text-align: right;
}

form
{
padding: 5px;
display: block;
margin-bottom: 10px;
}

form div
{
padding: 1px;
}


div#logoutBox form
{
padding-top: 1px;
}

div.formfield input {

	padding: 4px;
}


div#errorBox, div#error,  div#remuserError, div#failures
{
margin: 1px;

background: url("../images/cross-small.png") no-repeat 1px 1px ;

padding-left: 1px;
}

div#errorBox ul ul , div#error ul ul , div#remuserError ul ul
{
padding-left: 1px;
}

div#logoutBox dl dd
{
margin-top: 1px;
margin-bottom: 1px;
margin-left: 0px;
}

span.help 
{
margin-top: 8px;
display: block;
clear: both;
}

input[type="text"], input[type="password"] {
	font-size: 2em;  
	height: 1.5em;
	width: 95%;     
 }

/* make the month field a bit wider */

select#dob_mm {
  min-height: 3em;
  min-width: 7em;
}

/* position the site-info div at the top of the page */
#site-info
{
	height:60px;
	background: url(../images/header-bg.jpg) repeat-x;
	background-size: 100%;
	background-position-x: 5px;
}

