/*

handheld-specific styles for University of Oxford Webauth pages

*/

/* restyle the layout a little to take account of the smaller header */

body
{
}

/* position the site-info div at the top of the page */
#site-info
{
	height:60px;
	background: url(../images/header-bg.jpg) repeat-x;
	background-size: 100%;
	background-position-x: 5px;
}

div.content
{
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 675px;
}

div.content h1
{
    font-family: Helvetica, Verdana;
    font-size: 20pt;
    font-weight: 300;

    padding: 10px 0 ;
    margin: 0px;
    margin-bottom: 1em;

    color: #222;
}


h1, h2, h3, h4, h5, h6
{
letter-spacing: 0em;
}

div.content div, div.content h2, div.content h3, div.content p
{
	padding-left: 1px;
	padding-right: 1px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

input#password, input#username, input#otp 
{
	font-size: 1.5em;  
	height: 1.5em;
	width: 65%;  	
	padding: 0 8px;
	margin: 5px auto;	
 }
 
form
{
	padding: 5px;
	display: block;
	margin-bottom: 10px;
	width: auto;
}

form div
{
	padding: 1px;
}

div#logoutBox form
{
	padding-top: 1px;
}

div.formfield input 
{
	padding: 4px;
}


div#errorBox, div#error, div#remuserError, div#failures
{
	margin: 1px;
	background: url("../images/cross-small.png") no-repeat 1px 1px ;
	padding-left: 1px;
}

div#errorBox ul ul , div#error ul ul , div#remuserError ul ul
{
	
}

div#logoutBox dl dd
{
margin-top: 1px;
margin-bottom: 1px;
margin-left: 0px;
}

