

/* header styling (in the new style, Aug 2008) */
/* make room for the siteinfo header athe top of the page*/
body
{
margin:0px;
padding-top: 140px;
}

/* position the site-info div at the top of the page */
#site-info
{
	height: 116px;
	background: url(../images/header-bg.jpg) repeat-x 620px 0px ;
}

/* content element styling  begins */

div.content
{
	margin-left:auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 675px;
}

div.content h1
{
	font-family: Helvetica, Verdana;
	font-size: 20pt;
	font-weight: 300;

	padding: 10px 0 ;
	margin: 0px;
	margin-bottom: 1em;

	color: #222;
}

div.content div, div.content h2, div.content h3, div.content p
{
	padding-left: 1em;
	padding-right: 1em;
}

form
{
	width: 300px;
	padding: 0.2em;
}

input#password, input#username, input#otp 
{  
	width: 200px;
	height: 2em;
	padding: 0 8px;
	margin: 5px auto;
 }