 a {
 	color: #3277AE;
 }
 
  body {
	font-family: Helvetica Neue, Helvetica, Verdana,Arial,sans-serif; 
	font-size: 1.0em;
 }
  
 #header #logo {
	margin: 0;
	
}
 
 #logo div{
	background-image:  url(/images/crest.png);
	background-size: cover;
	float: right;
	width: 220px;
	height: 68px;
	margin: 0px;
}
 
 #wrap {
	 width: 95%;
	 position: relative;
 }
 
 #header {
	background:#002147;
	background-image: inherit;
	margin: 0;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #dedede;
	border-radius: 0;
	height:70px;
	width: auto;
	width: initial;
	font-size: large;
	float: none;
}

#header .sf-menu {
	width: 100%;
}

 #main {
	 padding: 3px;
	 background: #eeeeee;
	 border: 1px solid #aeaeae
 }

 #sidebar {
	width:12%;
	background:#eeeeee;
	border: 1px solid #aeaeae;
 }
 
 .sf-menu > li {
	height: 70px;
	padding: 0 !important;
 }
 
 #menu.sf-menu > li > a {
	border-top: none;
	padding: 0;
	padding-right: 2.25em;
	padding-left: 1em;
	color: #fff;
 }
  
 #menu.sf-menu > li:hover > a { color: #3277AE; }
 
 #menu.sf-menu > li > ul > li > a {
	padding: .75em 1em;
 }

  
 .float_left{
 	float: left;
	text-align: left;
	color: #fff;
	font-weight: normal;
	margin-right: 1.5em !important;
 }
 
 .float_left:hover {
	background: #002147;
 }

 .portalname{
	font-size:200%;
	text-shadow:black 3px 2px 4px;
	line-height: normal;

 }
 
 .sf-menu a.sf-with-ul {
	color: #fff;
	border-left: none;
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	display: table-cell;
	vertical-align: middle;
	height: 70px;
	padding: 0;
 }
 
 .sf-menu li li {
	height: 2em;
 }

 
.ui-button {
	border-radius: 0 !important;
	font-family: Helvetica Neue, Helvetica, verdana, sans-serif !important;
}

#main > div > div > .ui-button {
	margin-bottom: 1em;
}

.ui-widget {
	font-family: Helvetica Neue, Helvetica, verdana, sans-serif !important;
}

 .ui-tabs.ui-widget {
	border: none;
	border-radius: 0;
}

.ui-corner-all {
	border-radius: 0 !important;
}

.ui-state-default.ui-corner-top {
	border-radius: 0;
}

.ui-tabs-nav.ui-widget-header {
	background: #002147;
	border-radius: 0;
}

#menu > li:nth-child(1):hover {
	background: #002147;
}