 a {
 	color: #3277AE;
 }
 
  body {
	font-family: Helvetica Neue, Helvetica, Verdana,Arial,sans-serif; 
	font-size: 1.0em;
 }
 
 li#logo {
	margin: 0;
 }
 
 li#logo div {
    background-image:  url("/images/crest.png");
    background-size: cover;
	float: right;
    height: 68px;
    width: 220px;
	margin: 0;
 }
 
 #wrap {
	 width: 95%;
	 position: relative;
 }
 
 #main {
	 padding: 3px;
	 background: #eeeeee;
	 border: 1px solid #aeaeae
 }

 #sidebar {
	width:12%;
	background:#eeeeee;
	border: 1px solid #aeaeae;
 }

 #menu {
	background:#002147;
	font-size:large;
	border: 1px solid #dedede;
	border-radius: 0;
	margin: 0;
	margin-bottom: 1em;
	padding: 1em;
	height: 70px;
	float: none;
	width: initial;
 }
 
 #menu.sf-menu ul {
	margin-top: 25px;
 }
 
 .sf-menu > li {
	height: 70px;
	padding: 0 !important;
 }
 
 #menu.sf-menu > li > a {
	border-top: none;
	padding: 0;
	padding-right: 2.25em;
	padding-left: 1em;
 }
 
 #menu.sf-menu > li > ul > li > a {
	padding: .75em 1em;
 }
 
 .select_list li:hover { background: #3277AE; }
  
 .sf-menu a.sf-with-ul {
	color: #fff;
	border-left: none;
	font-family: Helvetica Neue, Helvetica, Verdana, sans-serif;
	display: table-cell;
	vertical-align: middle;
	height: 70px;
	padding: 0;
 }
 
 .sf-menu li li {
	height: 2em;
 }

 
.ui-button {
	border-radius: 0 !important;
	font-family: Helvetica Neue, Helvetica, verdana, sans-serif !important
}

.ui-widget {
	font-family: Helvetica Neue, Helvetica, verdana, sans-serif !important;
}

 .ui-tabs.ui-widget {
	border: none;
	border-radius: 0;
}

.ui-state-default.ui-corner-top {
	border-radius: 0;
}

.ui-tabs-nav.ui-widget-header {
	background: #002147;
	border-radius: 0;
}

#menu > li:nth-child(1) > ul {
	width: 11em;
 }
 
 #menu > li:nth-child(2) > ul {
	width: 17em;
 }
 
 #menu > li:nth-child(3) > ul {
	width: 15em;
 }
 
 #menu > li:nth-child(4) > ul {
	width: 11em;
 }