a {
 	color: #3277AE;
}

h1 {
	color: #3277AE;
}

body {
	font-family: Helvetica Neue, helvetica, impact, sans-serif;
}
	
a.activeToken {
	color: #3277AE;
	text-decoration: underline;
}

.form-help {
	color: #777777;
	font-style: italic;
}

#main {
	background: #eeeeee;
	border: 1px solid #aeaeae;
	margin-bottom: 1em;
}

#sidebar {
	border: 1px solid #aeaeae;
}

#header {
	background:#002147;
	background-image: inherit;
	margin: 0;
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #dedede;
}

#logo{
	background-image:  url(/images/crest.png);
	background-size: cover;
	float: right;
	width: 220px;
	margin: 0px;
}

 #logout {
	color: #3277AE;
 }
 
 #error_pin, #error_otp {
	color: #FF0000;
 }
 
/* float the logo left and the title right to match the admin page */
 .float_right{
	color: #fff;
 	float: left;
	text-align: left;
 }

.ui-tabs.ui-widget {
	border: none;
	border-radius: 0;
}

.ui-state-default.ui-corner-top {
	border-radius: 0;
}

.ui-tabs-nav.ui-widget-header {
	background: #002147;
	border-radius: 0;
}