
<!DOCTYPE html>
<html lang="en"> 

[% IF notdefined %]
<!--
This is the template for the WebAuth confirm page.  This page is called
from login.fcgi script on the weblogin server after successful
authentication and provides a link to continue to the appropriate web
page, as well as (optionally) a way to set preferences for doing
REMOTE_USER authentication.  Variables used:

username               : the authenticated identity of the user
return_url             : the WebAuth-protected page now authenticated for
pretty_return_url      : same, but cleaned up for use as link text
login_cancel           : a cancel URL was specified
cancel_url             : the specified cancel URL
show_remuser           : show REMOTE_USER login preferences
remuser                : set if REMOTE_USER is desired
warn_expire            : show warning for upcoming password expiration
expire_date            : the date and time of password expiration
expire_time_left       : the amount of time left until password expiration
pwchange_url           : URL for the password change form
-->
[% END %]
  
<!--<![endif]-->
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="/elm/images/favicon.ico" type="image/x-icon" />

		<link rel="shortcut icon" href="/elm/images/favicon.ico" type="image/x-icon" />
		<meta name="author" content="University of Oxford" />
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth.css?1.21" media="all"/>

		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-handheld.css?1.21" media="screen and (max-width: 639px)"/>
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-large.css?1.21" media="screen and (min-width: 640px)" />

		<!--[if (lt IE 9)&(!IEMobile)]>
		<link rel="stylesheet" type="text/css" href="/css/webauth-large.css?1.21" media="screen"/>
		<![endif]-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>University of Oxford - Single Sign-On</title>
	</head>

	<body onload="document.links[1].focus();">
	
		<div class="content" id="confirmPage">
			<h1 id=pageTitle>University of Oxford - Single Sign On<span class="name"></span></h1>
			<div id="confirmBox" >
			    <img class="form-logo" src="/elm/images/crest.png" alt=""></img>

				<div>You are logged in as user <strong>[% username FILTER html %]</strong>. <a href="https://mfa-test.bsp.ox.ac.uk/elm/logout">Not you?</a></div>
				<div>
					<a class="go_button" tabindex="1" title="[% pretty_return_url FILTER html %]" href="[% return_url FILTER html %]">Continue to [% pretty_return_url FILTER html %]</a>
					<p><a class="form-help forgot-password" title="Helpful advice on what to do about forgotten or expired passwords and other how to get help if you're having trouble." href="http://www.oucs.ox.ac.uk/webauth/oxfordusername.xml">Why is this page here?</a></p>				
					<p><a class="form-help forgot-password" title="How to log out" href="http://www.ict.ox.ac.uk/oxford/logout/">How do I log out?</a></p>	
				</div>
			
		</div>
		
		<p class="postscript">
			<a href="http://www.ict.ox.ac.uk/oxford/rules/">Oxford University Computer Usage Rules and Etiquette</a>
		</p>
	  <!-- div.content closes -->
	  </div>
  
		<div id="footer">
			<div id="site-info">
			</div>
		</div> 
  
	</body>
</html>

