
<!DOCTYPE html>
<html lang="en"> 

[% IF notdefined %]
<!--
This is the template for the WebAuth confirm page.  This page is called
from login.fcgi script on the weblogin server after successful
authentication and provides a link to continue to the appropriate web
page, as well as (optionally) a way to set preferences for doing
REMOTE_USER authentication.  Variables used:

username               : the authenticated identity of the user
return_url             : the WebAuth-protected page now authenticated for
pretty_return_url      : same, but cleaned up for use as link text
login_cancel           : a cancel URL was specified
cancel_url             : the specified cancel URL
show_remuser           : show REMOTE_USER login preferences
remuser                : set if REMOTE_USER is desired
warn_expire            : show warning for upcoming password expiration
expire_date            : the date and time of password expiration
expire_time_left       : the amount of time left until password expiration
pwchange_url           : URL for the password change form
-->
[% END %]
  
<!--<![endif]-->
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" href="/elm/images/favicon.ico" type="image/x-icon" />

		<link rel="shortcut icon" href="/elm/images/favicon.ico" type="image/x-icon" />
		<meta name="author" content="University of Oxford" />
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth.css?1.21" media="all"/>

		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-handheld.css?1.21" media="screen and (max-width: 639px)"/>
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-large.css?1.21" media="screen and (min-width: 640px)" />

		<!--[if (lt IE 9)&(!IEMobile)]>
		<link rel="stylesheet" type="text/css" href="/css/webauth-large.css?1.21" media="screen"/>
		<![endif]-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

		<title>University of Oxford Single Sign-On Confirmation</title>
	</head>

	<body onload="document.links[1].focus();">
	
		<div class="content" id="confirmPage">
			<h1>University of Oxford Single Sign-On Confirmation</h1>
			<div id="confirmBox" >
				<p class='pleaseNote'>The service you have requested is accessed via the University of Oxford Single Sign-On system.</p>
				<div>You are logged in as user <strong>[% username FILTER html %]</strong>.  <em><a href="https://mfa-test.bsp.ox.ac.uk/elm/logout">Not you?</a></em></div>
				<div><a class="go_button" tabindex="1" title="[% pretty_return_url FILTER html %]" href="[% return_url FILTER html %]"><span class="continue-to">Continue to</span> <span class="destination-name">[% pretty_return_url FILTER html %]</span></a></div>
				<p><strong class="warning">For complete security you should always close down your web browser once you have finished working. 
				<a href="http://www.ict.ox.ac.uk/oxford/logout/">Information on logging out</a>.
				</strong></p>
			
			<span class="help"><a title="Help on how to use the Oxford Single Sign-On System." href="http://www.oucs.ox.ac.uk/webauth/oxfordusername.xml">Help</a></span>
			 
			<p class="postscript">
			   <a href="http://www.ict.ox.ac.uk/oxford/confirm/">Why is this page here?</a><br />
			   <a href="http://www.ict.ox.ac.uk/oxford/rules/">
				 Oxford University Computer Usage Rules and Etiquette
			   </a>
			</p>
		   <!-- div#confirmBox closes -->     
		</div>
	  <!-- div.content closes -->
	  </div>
  
		<div id="footer">
			<div id="site-info">
				<h2 class="nonvis-exposition">Site Information</h2>
				<dl>
					<dt class="nonvis-exposition">Institution</dt><dd id="institution">University of Oxford</dd>
					<dt class="nonvis-exposition">Service</dt><dd id="serviceName" >WebAuth</dd>
				</dl>
			</div>
		</div> 
  
	</body>
</html>

