<!DOCTYPE html>
<html lang="en"> 
	<!--<![endif]-->
	<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<http-equiv="pragma" content="no-cache">
		<link rel="icon" href="/elm/images/favicon.ico" type="image/x-icon" />

		<link rel="shortcut icon" href="/elm/images/favicon.ico" type="image/x-icon" />
		<meta name="author" content="University of Oxford" />
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth.css?1.21" media="all"/>

		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-handheld.css?1.21" media="screen and (max-width: 639px)"/>
		<link rel="stylesheet" type="text/css" href="/elm/css/webauth-large.css?1.21" media="screen and (min-width: 640px)" />

		<!--[if (lt IE 9)&(!IEMobile)]>
		<link rel="stylesheet" type="text/css" href="/css/webauth-large.css?1.21" media="screen"/>
		<![endif]-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>University of Oxford Single Sign-On Logout</title>

	</head>

	<body>
		<div class="content" id="logoutPage">
			<h1>University of Oxford Single Sign-On Logout</h1>
			<div id="logoutBox" > 
				[% IF cookies_flag %]
					<dl>
					  <dt><strong class="logout">Still Logged In!</strong></dt>
					  <dd>
						You are still logged in to the University of Oxford Single
						Sign-On system.  To log out completely you must close down your
						web browser
						 [<a href="http://www.ict.ox.ac.uk/oxford/logout/"
						>How?</a>] once you have finished working.
					  </dd>
					  <dt><strong class="logout">Cannot close your browser?</strong></dt>
					  <dd>
						If you are unable to close down your browser, make sure you log
						out of all Single Sign-On services you used, and log out of the
						Single Sign-On system using the button below.
						<form action="logout" method="post">
						  <div class="formsubmit"><input type="submit" name="expunge" id="expunge"
						   value="Proceed with Single Sign-On Logout" />
						   </div>
						</form>
					  </dd>
					</dl>
				  [% ELSE %]
					<dl>
					  <dt><strong class="logout">Not Logged In!</strong></dt>
					  <dd>
						You are not logged into the University of Oxford Single Sign-On System.
					  </dd>
					</dl>
				[% END %]
				
				<span class="help"><a title="Help on how to log out from the Oxford Single Sign-On System." href="http://www.ict.ox.ac.uk/oxford/logout/">Help</a></span>
				 
			   <!-- div#logoutBox closes -->     
			</div>
		  <!-- div.content closes -->
		</div>
		<div id="footer">
			<div id="site-info">
				<h2 class="nonvis-exposition">Site Information</h2>
				<dl>
					<dt class="nonvis-exposition">Institution</dt><dd id="institution">University of Oxford</dd>
					<dt class="nonvis-exposition">Service</dt><dd id="serviceName" >WebAuth</dd>
				</dl>
		   <!-- div#site-info closes -->
			</div>
		 <!-- div#footer closes -->
		</div> 
	  
	</body>
</html>