<!DOCTYPE html>
<html>
  <head>
    <http-equiv="pragma" content="no-cache">
    <title>University of Oxford - Single Sign-On</title>
	<link rel="icon" href="/elm/images/favicon.ico" type="image/x-icon" />

	<link rel="shortcut icon" href="/elm/images/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/elm/css/webauth.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/elm/css/webauth-handheld.css" media="screen and (max-width: 639px)"/>
	<link rel="stylesheet" type="text/css" href="/elm/css/webauth-large.css" media="screen and (min-width: 640px)" />
  </head>

  [% IF notdefined %]
<!--
This is the template for the WebAuth multifactor page.  This page is called
from login.fcgi script on the weblogin server after a successful
authentication that has come back signaling that multifactor authentication
is also required.  Variables used:

factor_type             : type of multifactor being used (o1, o2, etc)
username                : the authenticated identity of the user
login_cancel            : a cancel URL was specified
cancel_url              : the specified cancel URL
multifactor_sentauth    : the form was submitted to run the sendauth function
error                   : some error occurred
err_multifactor_missing : the form was submitted previously without an OTP
err_multifactor_invalid : could not validate a submitted OTP
-->
  [% END %]

  <body onload="document.multifactor_login.otp.focus();">
	<div class="content" id="loginpage">
		<h1 id=pageTitle>University of Oxford - Single Sign On<span class="name"></span></h1>
		[% IF error || user_message %]
		  <div class="error" align="center">
			<p>
				[% IF user_message %]
					[% user_message %]
				[% ELSE %]
					[% IF err_multifactor_missing %]
						<!-- Error: no OTP submitted. -->
						Error: Enter a one-time password.
					[% END %]

					[% IF err_multifactor_invalid %]
						<!-- Error: login failed. -->
						Error: You entered an incorrect one-time password.
					[% END %]
				[% END %]
			</p>
		  </div>
		[% END %]

		<div id="loginForm" style="width: 70%;">

			<form name="multifactor_login"	action="[% script_name FILTER html %]" method="post" autocomplete="OFF" enctype="application/x-www-form-urlencoded">
                <img class="form-logo" src="/elm/images/crest.png" alt=""></img>

				<div class="form-intro"><p>Please enter your PIN, followed by your one-time password.</p></div>
				<input type="hidden" name="rm" value="multifactor">
				<input type="hidden" name="RT" value="[% RT FILTER html %]">
				<input type="hidden" name="ST" value="[% ST FILTER html %]">
				<input type="hidden" name="username" value="[% username FILTER html %]">
				<input type="hidden" name="factor_type" value="[% factor_type FILTER html %]">

				<!--[if lte IE 9]>
						<label class="ie-label" for="otp">Access Code</label>
					<![endif]-->
				<input id="otp" type="password" name="otp" value="" placeholder="Access Code" size="10" maxlength="10" tabindex="1"/>
				
				<div class="formsubmit">
					<input type="submit" name="Submit" class="go-go-go" value="Login" tabindex="2" />
					<p><a class="form-help forgot-password" title="Helpful advice on what to do about forgotten or expired passwords and other how to get help if you're having trouble." href="http://www.oucs.ox.ac.uk/webauth/oxfordusername.xml">Having trouble logging in?</a></p>				
				</div>
			</form>
		</div>

		<p class="postscript">
			<a href="http://www.ict.ox.ac.uk/oxford/rules/">University of Oxford  Computer Usage Rules and Etiquette</a>
		</p>
		
	</div>
	<div id="footer">
		<div id="site-info">
		</div>
	</div> 
  </body>
</html>
